@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;

}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
.header span,
ul li a {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.logoimg {
  height: 50px;
  width: 50px;
}
.header {
  display: flex;
  flex: 1;
  margin-right: auto;
  font-size: 24px;
  line-height: 99.7%;
}
.la {
  padding-left: 5px;
}
.hov:hover .aa {
  color: #8c2f39;
}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 8px;
}
.nav-links li a {
  color: #00a257;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;
}
.nav-links li a:hover {
  color: white;
  /* border: 1px solid #8C2F39; */
  /* -webkit-text-stroke: 5px solid #8C2F39; */
  transition: 0.3s ease-in-out;
  text-shadow: 1px 0 #00a257, -1px 0 #00a257, 0 1px #00a257, 0 -1px #00a257,
    1px 1px #00a257, -1px -1px #00a257, 1px -1px #00a257, -1px 1px #00a257;
}

.mobile-nav-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
.lsBTN {
  font-family: "Anton", sans-serif;
  color: #00a257;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: white;
  border: #00a257 2px solid;
  border-radius: 10px;
  padding: 3px 15px;
}
.lsBTN:hover {
  background-color: #00a257;
  color: white;
}
@media (max-width: 62em) {
  .nav {
    padding: 24px 30px 32px 30px;
    z-index: 1000000;
    position: relative;
  }
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }
  .cross {
    color: #ffffff;
  }
  .teen {
    color: #b23a48;
  }
  nav {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.3s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .lsBTN {
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    background-color: #00a257;
    border: #00a257 2px solid;
    border-radius: 10px;
    padding: 0px 80px;
    margin-top: 20px;
  }
  .nav-links li a {
    /* color: #fff; */
    font-size: 40px;
    line-height: 80px;
  }
  .exp {
    margin-left: 20px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .activ nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .activ .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .activ .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .activu .button {
    visibility: hidden;
    display: none;
  }
  .sTwoParent {
    display: block;
  }
  .st-mp {
    display: none;
  }
}
/* navbar ends */

/* hero section */

.herodiv{
    /* background-color: #00a257; */
    background: linear-gradient(to bottom, #ffffff 10%, #00a257 100%);
    height: 100vh;
}

/* hero ends */


/* cards */

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.bookses {
    padding-top: 50px;
  font-family: "Anton", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  /* border: 1px solid #8C2F39; */
  /* -webkit-text-stroke: 5px solid #8C2F39; */
  /* transition: 0.3s ease-in-out; */
  text-shadow: 1px 0 #00a257, -1px 0 #00a257, 0 1px #00a257, 0 -1px #00a257,
    1px 1px #00a257, -1px -1px #00a257, 1px -1px #00a257, -1px 1px #00a257;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.cardsbody {
  /* min-height: 100vh; */
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #efefef; */
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00a257;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #00a257;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #00a257;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #00a257;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #00a257;
}

.swiper-navBtn {
  color: #00a257;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #00a257;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  color: #00a257;
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #00a257;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #00a257;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

/* cards end */
